body {
  margin: 0;
  font-family: Arial, sans-serif;
  padding-top: 30px; /* space for fixed bar */
}

.announcement-bar {
  background: rgb(79, 4, 4);
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  font-family: "Tinos", serif;

  height: 30px;
  line-height: 30px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  overflow: hidden;
}

.fade-text {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-text.show {
  opacity: 1;
}
